body {
  background-color: green;
  text-align: center;
}

button {
  background-color: greenyellow;
  font-size: 1.2em;
  height: 50px;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
}

.coin {
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.bill {
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 240px;
  height: 100px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  width: 525px;
  box-shadow: 5px 5px 5px silver;
  background-color: white;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100px;
  width: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dbl-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 100px;
  width: 250px;
  text-align: center;
  align-items: center;
}

.inputs {
  font-size: 78px;
  width: 105px;
}

.total {
  color: white;
  font-size: 2.4em;
}