.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coin {
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #666;
}

.bill {
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 240px;
  height: 100px;
  border: 2px solid black;
  /* box-shadow: 10px 10px 5px #666; */
}

.row {
  display: flex;
  width: 100%;
  height: 120px;
  width: 508px;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 110px;
  width: 250px;
  text-align: center;
  align-items: center;
  border: 5px solid black;
}
